*{
    margin: 0;
    padding: 0;
}

body{
    background: url(../img/reset.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.forgot{
        width: 400px;
        margin: 50px auto;
        height: 550px;
        background-color: rgb(255, 255, 255);
        border-radius: 12px;
       
}
.form{
    margin: 0 auto;
    display: block;
    text-align: center;
    padding: 20px 10px;
    font-size: 10px;
}

.font{
    font-size: 21px;
    
}

h1{
    width: 400px;
    height: 300;
    font-size: 30px;  
}
img{
    width: 200px;
    margin: 0 auto;
}

.gap{
    width: 80%;
    height: 20px;
    padding: 10px;
    margin:10px   auto ;
    display: block;
    outline:none;
    border-radius: 12px;
    border-color:ghostwhite;
    
}

p{
    font-size: 19px;
    color: gray;
    padding: 5px;
}

.btn{
    width: 125px;
    height: 50px;
    margin: 30px auto;
    background-color: #2f97ef;
    border-color: #2f97ef;
    padding: 7px;
    text-align: center;
    color: whitesmoke;
    border-radius: 9px;
    outline: none;
    cursor: pointer;
    font-family: sans-serif;
    font-weight: bold;
}
